* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", Calibri, Tahoma, sans-serif;
}

.dashboard {
  display: flex;
}
.dashboard .side-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 16px;
  background-color: #8176d1;
  color: white;
}
.dashboard .side-bar .upper-section .logo {
  padding-bottom: 15px;
}
.dashboard .side-bar .upper-section ul li {
  list-style: none;
  font-size: 18px;
  padding: 12px 12px;
  border-radius: 6px;
  cursor: pointer;
}
.dashboard .side-bar .upper-section ul li a {
  display: flex;
  align-items: center;
  gap: 12px;
  color: white;
  text-decoration: none;
}
.dashboard .side-bar .upper-section ul li a svg {
  width: 20px;
  height: 20px;
}
.dashboard .side-bar .upper-section ul :hover {
  background-color: white;
  color: #8176d1;
}
.dashboard .side-bar .log-out button {
  padding: 8px 12px;
  border: 2px solid white;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  font-size: 16px;
  transition: 0.3s;
  z-index: 1;
  font-family: inherit;
  color: white;
  font-size: 18px;
}
.dashboard .side-bar .log-out ::before {
  content: "";
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: white;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}
.dashboard .side-bar .log-out :hover::before {
  width: 105%;
}
.dashboard .side-bar .log-out :hover {
  color: #111;
  cursor: pointer;
}
.dashboard .container {
  width: 100%;
}
.dashboard .container .nav-bar {
  padding: 16px;
  background-color: #8176d1;
}
.dashboard .container .nav-bar .user {
  display: flex;
  justify-content: flex-end;
}
.dashboard .container .nav-bar .user svg {
  height: 40px;
  width: 40px;
}
.dashboard .container .main-body .table .add-user {
  padding-bottom: 24px;
}
.dashboard .container .main-body .table .add-user a {
  width: -moz-fit-content;
  width: fit-content;
  color: #8176d1;
  text-decoration: none;
  padding: 8px 12px;
  border: 2px #8176d1 solid;
  font-weight: 800;
}
.dashboard .container .main-body table {
  border-collapse: collapse;
  width: 100%;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: left;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
.dashboard .container .main-body table th {
  background-color: #8176d1;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #ccc;
}
.dashboard .container .main-body table tr:nth-child(even) td {
  background-color: #f2f2f2;
}
.dashboard .container .main-body table tr:hover td {
  background-color: #ffedcc;
}
.dashboard .container .main-body table td {
  background-color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  font-weight: bold;
}
.dashboard .container .main-body table td a {
  text-decoration: none;
  color: black;
  display: flex;
  background-color: rgba(127, 218, 127, 0.626);
  width: -moz-fit-content;
  width: fit-content;
  padding: 4px 8px;
}
.dashboard .container .main-body table td a svg {
  width: 20px;
  height: 20px;
}
.dashboard .container .main-body .table {
  padding: 60px;
}
.dashboard .container .main-body table .action {
  display: flex;
  gap: 8px;
}
.dashboard .container .main-body table .action button {
  width: 58px;
  height: 28px;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid black;
}
.dashboard .container .main-body table .action button:hover {
  border: 1px solid red;
  cursor: pointer;
  background-color: red;
}
.dashboard .container .form {
  width: -moz-fit-content;
  width: fit-content;
  padding: 15px;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 15px;
}
.dashboard .container .form h1 {
  text-align: center;
}
.dashboard .container .form button {
  margin-top: 15px;
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 8px 15px;
  font-size: 16px;
  font-weight: bold;
  background: transparent;
  position: relative;
  transition: all 0.5s;
  overflow: hidden;
  z-index: 1;
  cursor: pointer;
  width: 100%;
}
.dashboard .container .form div {
  position: relative;
}
.dashboard .container .form div input {
  padding-left: 40px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid black;
  font-size: 16px;
  width: 300px;
  margin-top: 20px;
}
.dashboard .container .form div svg {
  height: 25px;
  width: 25px;
  position: absolute;
  left: 7px;
  top: 45%;
}/*# sourceMappingURL=style.css.map */